body {
  background-color: #af2121;
  background-image: url("../images/obraz_baner.jpg");
}

body > header {
  border: 2px dashed #af2121;
}

body > header nav {
  border: 2px dashed blue;
}

body > header .hamburger {
  border: 2px dashed green;
}
