$bgColor:#b37676; 
$buttonSize: 48px;

*{box-sizing: border-box;}
body{
  background-image: url("../images/obraz_baner.jpg");
  /*cover - przykrywa cały obszar */
  background-size: cover;
  background-position: center top;
  margin:0;
  min-height: 100vh;
  color:#fff;
  >header{
    // border:2px dashed red;
    display:flex;
    justify-content: space-between;
    padding: 1em 2em;

    // Bezpośrednie wszystkie dzieci headera
    > * {
      // border: 5px solid red;
      display:flex;
      align-items: center;
    }

    .pageLogo{
      // border: 2px dashed pink;
      a{text-decoration: none;
        color: inherit;
        display: flex; //żeby wszystko było obok siebvie na sztywno
        text-shadow: 0 1px 10px #fff;

        


        b{
           font-size: 30px; 
        }

      }
       
    }
    

    nav{
      // border:2px dashed $bgColor;
      position:relative;
      min-height: $buttonSize;



      #toggler{display:none;}

      // domyślne wyświetlanie

      label{
        // border:2px dashed yellow;
        position:absolute;
        width:$buttonSize;
        height:$buttonSize;
        right:0;
        top:0;
        cursor:pointer;

        // HAMBURGER
        div{
          // border:2px solid #000;
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
          position:absolute;
          width:80%;
          left:10%;
          height:10%;
          transition: .5s;

          &:nth-child(1){
            top:17.5%;
          }
          &:nth-child(2){
            top:45%;
          }
          &:nth-child(3){
            top:72.5%
          }
        }


      }
      ul{
        display:none;
       
        background-color: rgba(255, 255, 255, 0.2);
        padding: 0;
        list-style: none;
        border-radius: 5px;
        

          li{
            padding: .5em .7em;
            display: flex;
               justify-content: center;
               align-items: center;
             a{
               text-decoration: none;
               color: #fff;
               text-shadow: 0 1px 10px #fff;
               text-align: center;

               &:hover{
                color:rgb(70, 12, 67);
                font-size: 1.5em;
                transition: all 1s;
                
              }
               
             }
          }

        // display:flex;
        flex-direction: column;
        position: absolute;
        right:0;
        top:$buttonSize;
        margin:0;

      }

      // Wyświetlanie po kliknięciu na hamburger

      #toggler:checked {
      ~ ul{display:flex;}
      ~ label{border-color: blue;
         div{
           &:nth-child(1){

              background-color: rgb(70, 12, 67);
              box-shadow: 0 1px 10px #fff;
              transform: rotate(45deg);
              top:45%; //100%-połowa wysokości kreski

           }
            &:nth-child(2){
              opacity:0;

            }
            &:nth-child(3){

              background-color: rgb(70, 12, 67);
              box-shadow: 0 1px 10px #fff;
              transform: rotate(-45deg);
              top:45%; //100%-połowa wysokości kreski

           }

         }
      
      }
    }


    }
    // .hamburger{
    //   border:2px dashed green;
    // }


// Wyświetlnie na dużych ekranach
    @media (min-width:768px){
      label{display: none;}
      nav{
        ul{
          display:flex;
          flex-direction: row;
          position:static;
        }
      }
    }

  }
 }